@import './variables.scss';

@import '~bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

.social {
    :hover {
        color: $primary;
        transition: all 0.3s ease-in-out;
    }
}

.intro-position::before{
    content: "|";
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 14px 0 8px;
    margin-bottom: 2rem;
}

.intro-position::after {
    content: "|";
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 8px 0 14px;
}