@import './variables.scss';

.timeline {
	position: relative;
	padding: 5px 0;

	&::before {
		content: '';
		background: $primary-lighten;
		width: 3px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

	}
}
